<a href="https://colab.research.google.com/github/KY9799302/KY9799302/blob/main/python_for_BIOIN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
G = (0,0)
C = (1,1)
A = (0,1)
T = (1,0)

In [ ]:
Y = 1
print Y

SyntaxError: ignored

In [1]:
pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
for x in range(2,5):
  print(x, x*4)
  print('Oops')

2 8
Oops
3 12
Oops
4 16
Oops

In [ ]:
age = 23
print("Master graduation year is", age +3)

Master graduation year is 26

In [ ]:
DNA = {"A": "Aly", 
       "T": "Thy",
       "C": "Cys",
       "G": "Gly"}
print(DNA)

{'A': 'Aly', 'T': 'Thy', 'C': 'Cys', 'G': 'Gly'}

In [ ]:
open()

In [ ]:
G, C
A, T

((0, 1), (1, 0))

In [ ]:
def trans(dna):
  return A

trans (dna=[G,G,G])

(0, 1)

In [ ]:
def trans(dna):
  rna = []
  for nucleotide in dna:
    new_nucleotide = comp(nucleotide)
    rna.append(new_nucleotide)
  return rna

def comp(K):
  return ((K[0]+1)%2,(K[1]+1)%2)
  
trans (dna=[A, G, T])

[(1, 0), (1, 1), (0, 1)]

In [ ]:
import random

print(random.choice(["G", "A", "T"]))

T

In [ ]:

((G[0]+1)%2, (G[1]+1)%2)

(1, 1)

In [ ]:
matrix = [i for i in range(4)]